<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
            md-is-locked-open="$mdMedia('gt-md')"
            md-is-open="true">

<md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Sidenav Left</h1>
    <md-button ng-click="VM.toggleSideNav()">
        <md-icon class="material-icons">arrow_back</md-icon>
    </md-button>
</md-toolbar>

<md-content flex role="navigation">
    <md-list>
        <md-list-item ng-repeat="item in VM.Menu" ng-click="VM.navigate(item.permalink)">
            <p>{{ item.title }}</p>
            <md-list ng-if="item.children.length > 0">
                <md-list-item ng-repeat="child in item.children" ng-click="VM.navigate(child.permalink)">
                    <p>{{ child.title }}</p>
                </md-list-item>
            </md-list>
        </md-list-item>
    </md-list>

</md-content>
</md-sidenav>
